<div class="container">
    <div class="row">
      <div class="col-sm-12 text-center my-5">
        <!--When the cart is empty
        <div class="" *ngIf="cartData.data[0].numInCart == 0">
          <h4>
            {{'CART.EmptyCart' | translate}}
          </h4>
          <button class="btn btn-outline-danger" routerLink="/restaurants">
            <i class="fa fa-arrow-circle-o-left"> {{'CART.Continue' | translate}}</i>
          </button>
        </div>-->
  
        <!--When the cart is not empty-->
        <ng-container >
          <div class="row">
            <div class="col-sm-12 ">
              <h1>
                Cart content
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <table class="table">
  
                <thead class="table-dark">
                  <tr class="text-center">

                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td class="d-flex align-items-center justify-content-around">
                      <img src="#" alt="" width="60" class="order-1">
                      <span class="text-danger mr-md-4" style="cursor:pointer"><i class="fa fa-trash"
                          ></i></span>
                    </td>
                    <td>
                      <p>Wings</p>
                    </td>
                    <td>
                      <p>1000 CRC</p>
                    </td>
                    <td>
                      <form>
                        <div class="value-button" id="decrease" >
                          <i class="fa fa-minus"></i>
                        </div>
  
                        <input type="number" id="number" [value]=2>
                        <div class="value-button" id="increase">
                          <i class="fa fa-plus"></i>
  
                        </div>
                      </form>
                    </td>
  
                    <td>
                      <p>
                        Subtotal
                      </p>
                    </td>
                  </tr>
  
                  <tr class="border-0 _bottom">
                    <td style="border: none"></td>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td>Total CRC</td>
                  </tr>
                </tbody>
  
              </table>
  
            </div>
  
            <div class="col-sm-12 d-flex md-5 nav-btn">
              <div class="d-flex justify-content-between flex-sm-column flex-md-row w-100 ">
                <button class="btn btn-dark btn-sm order-0" routerLink="/restaurants"><i class="fa fa-home"></i> Continue</button>
                <button class="btn btn-danger btn-sm order-1 " >Checkout <i
                    class="fa fa-arrow-circle-right"></i></button>
              </div>
  
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
